<h1>These are your consoles</h1>

<% @consoles.each do |console| %>
  <% if console.owned == true %>
    <a href="/consoles/<%= console.id %>"><%= console.name%></a><br>
  <% end %>
<% end %>
<br>
<h2>Add a new console to your owned list</h2>
<form method="POST" action="/consoles/owned">

  <label for="name">Name:<label>
  <input type="text" name="name">

  <input type="submit" value="Add Console To Owned">
</form>
