<h1>Show page for this console</h1>

<h3><%= @console.name %></h3> 
<h2>Remove this console from owned list</h2>

<form action="/consoles/<%= @console.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Remove">

</form>
<br> 
<h3><a href="/consoles/owned">Return to your owned consoles list</a></h3>