<h1>Welcome <%= @user.name %>, to your game collection</h1>
<br>
<a href="/consoles/wishlist">View Your Console Wishlist</a>
<a href="/consoles/owned">View Your Owned Console(s)</a>

<a href="/games/wishlist">View Your Games Wishlist</a>
<a href="/games/owned">View Your Owned Games(s)</a>

<form method="POST" action="/users/logout">
  <input type="submit" value="Log Out">
</form>
