<h1>Welcome <%= @user.name %>, to your game collection</h1>
<br>
<a href="/consoles/wishlist">View Wishlist</a>


<form method="POST" action="/users/logout">
  <input type="submit" value="Log Out">
</form>
