<h1>Welcome <%= @user.name %>, to your game collection</h1>

<p>To get started add a console or game to your wishlist.</p> 
<p>In order to add a game to your owned list you must own a console to add it to.</p>


