<h1>Please log in</h1>

<form method="POST" action="/users/login">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="password">Password:</label>
  <input type="password" name="password">

  <input type="submit" value="Log In">

</form>

<h3><a href="/users/signup">If you haven't already signed up do so here</a></h3>
