<h1> Please Sign Up</h1>


<form method="POST" action="/users/signup">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="password">Password:</label>
  <input type="password" name="password">

  <input type="submit" value="Sign Up">

</form>

<h3><a href="/users/login">If you already signed up go here to login</a></h3>
