<h1>These are your games</h1>

<% @games.each do |game| %>
  <% if game.user_id != nil %>
    <a href="/games/<%= game.id %>"><%= game.name%></a><br>
  <% end %>
<% end %>
<br>
<h2><a href="/users/<%= @user.id %>">Return to your homepage</a></h2>
<h2><a href="/games/wishlist">Go to your games wishlist</a></h2>
