<h1>Show page for this game</h1>

<h3><%= @game.name %></h3>

<% if @game.user_id != nil %>
  <h2>You currently own this game</h2>
  <h2>Remove this game from owned list</h2>

  <form action="/games/<%= @game.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Remove">

  </form>
  <br>
<% end  %>
<% if @game.user_id == nil %>
  <h2>This game is on your wishlist</h2>
  <h2>Remove this game from wishlist</h2>

  <form action="/games/<%= @game.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Remove">

  </form>
  <br>
<% end %>
<h3><a href="/games/owned">Return to your owned games list</a></h3>
